// Write your overrides
.justify-between {
  justify-content: space-between;
}

.flat-card {
  padding: 20px;
  border: 1px solid rgb(var(--v-theme-primary));
  border-radius: 10px;
  margin: 20px;
}

table tbody .v-data-table__tr--clickable {
  white-space: nowrap;
}
